.DS_Store
node_modules/
bower_modules/

# Don't track build output
dist/

*.sln.ide
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]e[Ss]harper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.vsp
*.psess
*.orig
*.userprefs
*.log